@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 0%);
  --card: hsl(0, 0%, 97%);
  --card-foreground: hsl(0, 0%, 0%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(0, 0%, 0%);
  --primary: hsl(0, 0%, 0%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(0, 0%, 40%);
  --secondary-foreground: hsl(0, 0%, 0%);
  --muted: hsl(0, 0%, 97%);
  --muted-foreground: hsl(0, 0%, 40%);
  --accent: hsl(214, 100%, 40%);
  --accent-foreground: hsl(0, 0%, 100%);
  --destructive: hsl(0, 84%, 60%);
  --destructive-foreground: hsl(0, 0%, 100%);
  --border: hsl(0, 0%, 90%);
  --input: hsl(0, 0%, 97%);
  --ring: hsl(214, 100%, 40%);
  --chart-1: hsl(214, 100%, 40%);
  --chart-2: hsl(160, 100%, 36%);
  --chart-3: hsl(42, 93%, 56%);
  --chart-4: hsl(147, 78%, 42%);
  --chart-5: hsl(341, 75%, 51%);
  --sidebar: hsl(0, 0%, 97%);
  --sidebar-foreground: hsl(0, 0%, 0%);
  --sidebar-primary: hsl(214, 100%, 40%);
  --sidebar-primary-foreground: hsl(0, 0%, 100%);
  --sidebar-accent: hsl(0, 0%, 93%);
  --sidebar-accent-foreground: hsl(214, 100%, 40%);
  --sidebar-border: hsl(0, 0%, 91%);
  --sidebar-ring: hsl(214, 100%, 40%);
  --font-sans: 'Inter', sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --subtle: hsl(0, 0%, 97%);
}

.dark {
  --background: hsl(0, 0%, 0%);
  --foreground: hsl(0, 0%, 91%);
  --card: hsl(0, 0%, 10%);
  --card-foreground: hsl(0, 0%, 85%);
  --popover: hsl(0, 0%, 0%);
  --popover-foreground: hsl(0, 0%, 91%);
  --primary: hsl(0, 0%, 100%);
  --primary-foreground: hsl(0, 0%, 0%);
  --secondary: hsl(0, 0%, 60%);
  --secondary-foreground: hsl(0, 0%, 100%);
  --muted: hsl(0, 0%, 9%);
  --muted-foreground: hsl(0, 0%, 46%);
  --accent: hsl(214, 100%, 53%);
  --accent-foreground: hsl(0, 0%, 100%);
  --destructive: hsl(0, 84%, 54%);
  --destructive-foreground: hsl(0, 0%, 100%);
  --border: hsl(0, 0%, 15%);
  --input: hsl(0, 0%, 18%);
  --ring: hsl(214, 100%, 53%);
  --chart-1: hsl(214, 100%, 53%);
  --chart-2: hsl(160, 100%, 36%);
  --chart-3: hsl(42, 93%, 56%);
  --chart-4: hsl(147, 78%, 42%);
  --chart-5: hsl(341, 75%, 51%);
  --sidebar: hsl(0, 0%, 10%);
  --sidebar-foreground: hsl(0, 0%, 85%);
  --sidebar-primary: hsl(214, 100%, 53%);
  --sidebar-primary-foreground: hsl(0, 0%, 100%);
  --sidebar-accent: hsl(0, 0%, 8%);
  --sidebar-accent-foreground: hsl(214, 100%, 53%);
  --sidebar-border: hsl(0, 0%, 26%);
  --sidebar-ring: hsl(214, 100%, 53%);
  --subtle: hsl(0, 0%, 9%);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
    font-family: var(--font-sans);
  }
}
